*/nbproject/private/
*/build/
*/nbbuild/
*/dist/
*/nbdist/
*/nbactions.xml
*/nb-configuration.xml
*SLIT/SLIT-ejb/dist/
*SLIT-client/dist/
*SLIT-common/build/
*SLIT-common/nbproject/private/
*SLIT-client/nbproject/private/
*SLIT/nbproject/private/
*SLIT/SLIT-ejb/nbproject/private/
*SLIT/build/
*SLIT/dist/
*SLIT-client/build/
*SLIT-common/dist/
*SLIT/SLIT-ejb/build/
